{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <script src="{% static "js/script.js" %}"></script>
    {% block css %}{% endblock css %}
</head>
<body>
    <nav>
        <a href="{% url "home" %}" class="nav-link">Home</a> |
        <a href="{% url "about" %}" class="nav-link">About</a> |
        <a href="{% url "contact" %}" class="nav-link">Contact</a> |
        {% if request.user.is_authenticated %}
        <p>welcome, {{ request.user.username }}! <a href="#">Logout</a></p>
        {% else %}
        <a href="{% url "login" %}" class="nav-link">Login</a>
        {% endif %}
    </nav>
    
    <main id="main-content">
        {% block content %}{% endblock content %}
    </main>
    
    {% block js %}{% endblock js %}
</body>
</html>