{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block nav %}
  <a href="{% url "home" %}" class="spa-link" data-method="GET">Back to home</a>
{% endblock nav %}

{% block content %}


<h2>Register</h2>
  
  <form id="register-form" data-redirect="{% url "login" %}">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn btn-primary spa-link" href="{% url 'register' %}" data-method="POST" data-form="#register-form">Register</a>
  </form>


{% endblock content %}
