{% extends "base.html" %}
{% load static %}

{% block title %}About Page{% endblock title %}

{% block content %}

{% include "pages/includes/nav_menu.html" %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3 border border-dark">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">About Page</h1>
      <p class="col-md-8 fs-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, incidunt! Recusandae sit error blanditiis quas libero dolorem iure velit ut voluptas, ad quo deserunt sequi voluptates possimus porro voluptate suscipit quidem a, dolor, commodi in? Autem sunt qui ad officia, commodi dignissimos laudantium officiis minima voluptas nobis expedita quam quis. 
    </p>
    
    </div>
  </div>


{% endblock content %}