{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        {% include "includes/nav_menu.html" %}
    {% endif %}
{% endblock nav %}
    

{% block content %}

    {% if user.is_authenticated %}
        <div class="p-5 mb-4 bg-body-tertiary rounded-3 border border-dark">
            <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Home Page</h1>
            <p class="col-md-8 fs-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, incidunt! Recusandae sit error blanditiis quas libero dolorem iure velit ut voluptas, ad quo deserunt sequi voluptates possimus porro voluptate suscipit quidem a, dolor, commodi in? Autem sunt qui ad officia, commodi dignissimos laudantium officiis minima voluptas nobis expedita quam quis. 
            </p>
            
            </div>
        </div>

    {% else %}

        <h1 class="text-center my-4">PONG</h1>
        <div id="auth-container" class="d-flex flex-column align-items-center  vh-100">
            <a class="btn btn-secondary mb-2 spa-link" href="{% url 'login' %}" data-method="GET">Log In</a>
            <a class="btn btn-secondary mb-2 spa-link" href="{% url "register" %}" class="spa-link" data-method="GET">Register</a>
            <a href="#" class="btn btn-secondary mb-2">Log in 42</a>
            <a href="#" class="btn btn-secondary mb-2">Continue as guest</a>
        </div>
    {% endif %}

{% endblock content %}


